{% extends 'registration/base.html' %}
{% load static %}
{% block content %}

<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-floating mb-3">
    {{field}}
    <label for="{{field.id_for_label}}">{{field.label}}</label>
  </div>
  {% endfor %}

  <div class="d-grid">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="font-size: var(--bs-body-font-size)">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {{ error|escape }}
    </div>
    {% endfor %} {% endif %}
    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
      Sign in
    </button>
  </div>
  <div style="text-align: center; margin-top: 1rem">
    <a style="color: #000000; text-align: center" href="/register">Request access</a>
  </div>
</form>

{% endblock %}