{% extends 'registration/base.html' %}
{% load static %}
{% block content %}

<form method="POST" action="{% url 'register' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-floating mb-3">
    {{field}}
    <label for="{{field.id_for_label}}">{{field.label}}</label>
  </div>
  {% endfor %}
 
<div class="d-grid">
  {% if form.errors %}
  {% if form.errors.username %}
  <script>
    document.getElementById('firstname').setAttribute('readonly', 'readonly');
    document.getElementById('lastname').setAttribute('readonly', 'readonly');
    document.getElementById('userid').className = 'form-control';
    document.getElementById('userid').removeAttribute("readonly");
  </script>
  {% else %}
  <script>
    document.getElementById('firstname').setAttribute('readonly', 'readonly');
    document.getElementById('lastname').setAttribute('readonly', 'readonly');
  </script>
  {% endif %}
    {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert"
        style="font-size:var(--bs-body-font-size);">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ error|escape }}
        </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert"
      style="font-size:var(--bs-body-font-size);">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ error|escape }}
      </div>
    {% endfor %}
{% endif %}
<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Register</button>
</div>

</form>

<script>
  const first_input = document.getElementById('firstname');
  const last_input = document.getElementById('lastname');
  const user_res = document.getElementById('userid');

  // Create variables for what the user inputs, and the output:
  let first = '';
  let last = '';
  let user = '';

  // Add an event listener to 'listen' to what the user types into the inputs:
  first_input.addEventListener('input', e => {
    first = e.target.value;
    updateUser()
  });
  last_input.addEventListener('input', e => {
    last = e.target.value;
    updateUser()
  });

  // Update the value of net based on what the user inputs in for gross and tier
  function updateUser(e) {
      user = last.slice(0, 3).toUpperCase() + first.slice(0, 3).toUpperCase();
      user_res.value = user;
  }
</script>

{% endblock %}








